     #This block describes properties for market-mvc.

#The database name.
DB_NAME_MARKET

#Internal database port.
DB_PORT_MARKET

#External database port for access to db from host machine.
DB_HOST_PORT_MARKET

#Database username for market-mvc.
DB_USER_MARKET

#Database host where it's installed.
DB_HOST_MARKET

#Database password.
DB_PASS_MARKET

#Path to the picture's storage location and logs.
DIR_MARKET

#Max size in bytes for image which you want to save in the server.
MAX_IMAGE_SIZE_MARKET

#External application port for access to app from host machine.
APP_HOST_PORT_MARKET

#Internal application port.
APP_PORT_MARKET



      #This block describes properties for payment-service

#The database name.
DB_NAME_PAYMENT

#Internal database port.
DB_PORT_PAYMENT

#External database port for access to db from host machine.
DB_HOST_PORT_PAYMENT

#Database username for market-mvc.
DB_USER_PAYMENT

#Database host where it's installed.
DB_HOST_PAYMENT

#Database password.
DB_PASS_PAYMENT

#Path to the picture's storage location and logs.
DIR_PAYMENT

#External application port for access to app from host machine.
APP_HOST_PORT_PAYMENT

#Internal application port.
APP_PORT_PAYMENT

