#The database name
DB_NAME

#Internal database port
DB_PORT

#External database port for access to db from host machine.
DB_HOST_PORT

#Database username
DB_USER

#Database host where it's installed
DB_HOST

#Database password
DB_PASS

#Path to the picture's storage location and logs.
MARKET_DIR

#Max size in bytes for image which you want to save in the server.
MAX_IMAGE_SIZE

#External application port for access to app from host machine.
APP_HOST_PORT

#Internal application port.
APP_PORT

market:
  upload:
    maxSize: 5242880
    dir: /home/alexlakers/my-market